.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3000;
	
	font-size: 1.25rem;
	list-style-type: none;
	font-weigth: bold;
}

.skiplinks a,
.skiplinks a:link,
.skpilinks a:visited {
	display: inline-block;
	padding: 0.5em 0.75em;
	position: absolute;
	top: -10em;
	
	background-color: #000;
	
	color: #fff;
	text-decoration: none;
}

.skiplinks a:focus {
	top: 0;
}
a
a: link,
a:visited {
	outline: none; /*removes the keyboard selection highlight */
}

a: hover,
a:active {
	outline: none; /*removes the keyboard selection highlight */
}

a:focus {
	outline: 2px solid #000;
}



body {
	padding:0;
	margin:0 auto;
}

header{
	margin:0;
	padding:0;
}

.logo{
	float:left;
	padding:10px;
	max-width: 80px;
}

.flex-5{
	width: 100%;
}

.flex-4{
	float: left;
	max-width: 100px;
}
.flex-2{
	float: left;
	max-width: 90px;
	padding-right: 10px;
}
.flex-3{
	float: left;
	max-width: 100px;
}
.flex-1{
	float: left;
	max-width: 100px;
	padding-right: 20px;
	padding-bottom: 50px;
	margin-bottom: 1em;
}
.main-image{
	width:100%;
}
	
nav{
	text-align:left;
	padding:1em 0.5em;
	margin:0;
	font-size: 0.85em;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #0C9;
}

nav a{
	text-decoration:none;	
	color: #EEE;
}

nav a:hover{
	color:#FF8000;	
}

li {
	list-style-type: none;
	display: inline;
	padding:0 3px;
}
ol {
	padding: 1em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	color: #096;
}

em{
	color: #FF8000;
	font-size: 1.2em;
}

strong{
	color: #033;
}

h1{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, 					sans-serif;
	font-size:1.75em;
	text-color:#91CEF3;
	background-color: #FC6;
}

article{
	padding-left:20px;
	background-color: #FFF;
}

.top{
	font-size: 1em;
	color: #000;
	padding: 0 1em;
	margin: 1em;
}

.list {
	float: left;
	display: inline-block;
}

p{ 
	padding: 1em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	color: #096;
}

h2{
	padding: 0.2em 1em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	color: #033;
	background-color: #FC6;
}

h3{
	padding: 0.2em 1em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	color: #FFF;
	background-color: #FC6;
}
.unit img{
	text-align:center;
	margin: 0 auto;
	display:block;
}

footer{
	font-size:0.5rem;
	float:right;
}

@media only screen and (min-width: 38em){

nav{
	text-align:left;
	padding:1em 0.5em;
	margin:0;
	font-size:1rem;
}
	
.flex{
	float: left;
	margin-right: 50px;
	padding: 15px 0 0 0;
}

.unit p{
	padding:0 1px;
	overflow:hidden;
}

.top{
	font-size: 1em;
	color: #000;
	padding: 0 1em;
}

.main-image{
	height:150px;
}

h2{
	font-size: 1.5em;
}

.unit img{
	margin: 0 auto;
	display: inline;
	padding-bottom:10px;
	padding-right:10px;
	float: left;
}

p{
	padding: 2em;
	font-size: 1.2em;
}

}

@media only screen and (min-width: 55em){

nav{
	text-align: center;
	padding:1em 2em;
	margin:0;
	font-size: 1.3em;
}

.unit img{
	margin: 0 auto;
	display: inline-block;
	padding-bottom:10px;
	padding-right:10px;
	float: left;
}

.top{
	font-size: 1.3em;
	color: #000;
	padding: 0 1em;
}

h2{
	font-size: 1.5em;
}

.p{ 
	padding: 3em;
	font-size: 1.4em;
}
}

@media only screen and (min-width: 150em){

nav{
	text-align:right;
	padding:10px 9px 0 0;
	margin:0;
}

.unit img{
	margin: 0 auto;
	display:block;
	padding-bottom:20px;
	padding-right:10px;
}

.top{
	font-size: 2em;
	color: #000;
	padding: 2em 1em;
}
	
}