# User Testing Report

User testing was conducted by Emily Barclay on Oct.22nd between the times of 10:00am and 11:00am with the following participants:

- Cassie Chartrand
- Cameron Webb
- Andy Ham

## Tasks

1. Find the Yogi Wisdom quote of the day
2. Go to the article about Yoga Origins
3. Navigate back to homepage

---

## Individual Results & Observations

### Cassie Chartrand

- She scrolled through scanning for a quote until she reached the bottom where she found it with ease (3 seconds)
- She found the article but did not know where to click to go to the article page to read it
- She was able to navigate back to home with ease by the top left icon button
- I need to make the article header the link instead of the image beside it

### Cameron Webb

- He found the article with ease and noticed that the image was the link after a few seconds
- He found the quote very quickly by scanning whole site 
- He navigated home effortlessly.
- He suggeseted making the article link more obvious.

### Andy Hamm

- He found the quote of the day the fastest of the 3 reviewers
- He was also the quickest to notice the link to the full article page
- He knew how to navigate home though the icon in the top left corner


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Two of the participants struggled with finding how to get to the article page. Could not succeed without me telling them how.

### Serious, Causes Frustration, May Hinder Completion

- Two participants were unsure of where the links were because it was not the headers that linked to pages

### Minor, Annoying, Won’t Hinder Completion

- Nothing minor was mentioned