<meta charset="UTF-8">
	<title>default.html</title>
	<meta property="og:type" content="article">
	<meta property="og:title" content="Yoga-Around-The-World">
	<meta property="og:url" content="http://yogaaroundtheworld.com/modernwestern/article.html">
	<meta property="og:image" content="http://yogaaroundtheworld.com/img/thing.jpg"> <!--- Image size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:site_name" content="Yoga">
	<meta property="og:description" content="Unlimited yoga information from all across the world">
	
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Yoga-Around-The-World">
	<meta property="twitter:url" content="http://yogaaroundtheworld.com/modernyoga/article.html">
	<meta property="twitter:image" content="http://yogaaroundtheworld.com/img/thing.jpg"> <!--- Image size: minimum 120x120 -->
	<meta property="twitter:description" content="Unlimited yoga information from all across the world">